@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  background: #eee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.buttons {
  $w: 500px;
  $h: 260px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: $w;
  height: $h;
  margin-top: -($h/2);
  margin-left: -($w/2);
  text-align: center;
}

.set:not(:last-child) {
  border-bottom: 1px dotted #aaa;
}

.btn {
  display: inline-block;
  min-width: 110px;
  margin: 15px 5px;
  padding: 10px 15px 12px;
  font: 700 12px/1 'Open Sans', sans-serif;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 1px rgba(0,0,0,.1), inset 0 -10px 20px rgba(0,0,0,.1);
  cursor: pointer;
}

.btn.sec {
  color: #777;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  background: #fff;
}

.btn.sec:hover { background: #f5f5f5 }

.btn.pri {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}

.set.blue .btn.pri { background: #59d }
.set.green .btn.pri { background: #6b6 }
.set.red .btn.pri { background: #d33 }
.set.black .btn.pri { background: #555 }

.set.blue .btn.pri:hover { background: #48c }
.set.green .btn.pri:hover { background: #5a5 }
.set.red .btn.pri:hover { background: #c22 }
.set.black .btn.pri:hover { background: #444 }

.btn.sec.ico,
.btn.pri.ico {
  position: relative;
  padding-left: 40px;
  text-align: left;
}

.btn.sec.ico:before,
.btn.pri.ico:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 30px;
  padding: 10px 0 12px;
  font-family: fontawesome;
  text-align: center;
  border-radius: 3px 0 0 3px;
  background: rgba(0,0,0,.15);
}

.btn.sec.ico:before {
  background: rgba(0,0,0,.08);
}

.set.blue .btn.sec.ico:before { content: '\f053' }
.set.green .btn.sec.ico:before { content: '\f05e' }
.set.red .btn.sec.ico:before { content: '\f05e' }
.set.black .btn.sec.ico:before { content: '\f0c4' }

.set.blue .btn.pri.ico:before { content: '\f054' }
.set.green .btn.pri.ico:before { content: '\f00c' }
.set.red .btn.pri.ico:before { content: '\f014' }
.set.black .btn.pri.ico:before { content: '\f0c4' }